@import url('C:\Users\wjdoo\OneDrive\Documents\GitHub\wintst\winst style shets\winst styles style sheet.css');
/* animations*/
@keyframes start {
    from {text-align: right;}
    to {text-align: center;}
}
/*header styles*/
.header {
    position: fixed;
    width: 100%;
    margin-top: -1px;
    margin-right: -1px;
    margin-left: 20%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
    z-index: -1;
    opacity: 90%;
}
#header-text {
    margin-left: 10%;
    text-align: center;
}
/*end header styles*/
/*side panel styles*/
title {
    color: green;
    background-color: white;
}
.cdb {
    width: 50%;
    text-align: center;
    background-color: var(--favgreen);
}
body {
    background-color: var(--favgreen);
}
.documents {
    display: flexbox;
}
#document1 {
    width: calc(8.5vw * 2);
    margin: 5%;
    display: inline-block;
    height: calc(12vw * 2);
    border: 1px solid black;
    text-align: center;
}