/*text color styles*/
.red-text{color: red;}.orange-text{color: orange;}.yellow-text{color: yellow;}.green-text{color: green;}.blue-text{color: blue;}.violet-text{color: violet}
/*background color styles*/
.red-background{background-color: red;}.orange-background{background-color: orange;}.yellow-background{background-color: yellow;}.green-background{background-color: green;}.blue-background{background-color: blue;}.violet-background{background-color: violet;}
